# MySQL-Clientkonfiguration fuer den mysqld-exporter.

[client]
# Datenbank-Host innerhalb des Compose-Netzwerks.
host=mariadb
# Datenbank-Port.
port=3306
# Benutzername fuer Exporter-Zugriff.
user=root
# Passwort fuer Exporter-Zugriff.
password=root
